body,
ul,
li,
h1,
h2,
a {
    margin: 0;
    padding: 0;
    font-family: arial;
}

header {
    background-color: red;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner .one {
    background-color: #feb614;
    position: absolute;
    top: 15%;
    color: white;
    padding: 30px;
}

.banner h2 span {
    font-size: 30px;
}

header h1 {
    border: 2px solid blue;
    color: white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 30px;
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 50px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a.three {
    color: red;
    text-decoration: none;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}